.blogpage-container {
  width: 90%;
  height: 100vh;
  padding: 1rem 0.2rem;
  margin: 3rem auto;
}

.archieved-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.3rem;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  margin: 5rem;
}

.pagination-buttons-container {
  display: flex;
  gap: 1rem;
}

.pagination-button {
  background-color: rgb(247, 247, 234);
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 50%;
  transition: transform 0.2s;
}

.pagination-button:hover {
  background-color: rgb(249, 249, 249);
  transform: scale(1.1);
}

.pagination-button.active {
  color: rgb(63, 74, 221);
  background-color: #fdfdfc;
}

.switch-page-button {
  background-color: rgb(247, 247, 234);
  padding: 8px 12px;
}
.switch-page-button:hover {
  background-color: rgb(249, 249, 249);
}
