.blogpage-container {
  width: 90%;
  height: 100vh;
  padding: 1rem 0.2rem;
  margin: 3rem auto;
}

.archieved-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.3rem;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  margin: 5rem;
}
