.latestPosts-container {
  width: 80%;
  height: 100vh;
  padding: 1rem 0.2rem;
}
.posts-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.3rem;
}

.load-button {
  width: 10rem;
  padding: 0.5em 1em;
  border-radius: 2rem;
  margin: 3rem 2rem 5rem 2rem;
}

@media only screen and (min-width: 1000px) {
  .latestPosts-container {
    width: 53%;
  }
}
